<div class="sub_564-721">
  <div class="group-30_564-730">
    <span class="text-choose-the-best-plan-for-you-_564-731">
      Choose the best plan for you.
    </span>
  </div>

  <div class="frame-72_564-733">
    <span class="text-basic-plan-member_564-735">Basic Plan Member</span>
    <span class="text-25-0---month-billed-annually-you_564-736">
      $25.0 / month Billed annually you
    </span>
    <div class="frame-95_564-737">
      <button (click)="redirectToPayments()" class="text-select-basic_564-738">
        Select Basic
      </button>
    </div>
    <span
      class="text-access-to-sample-courses-basic-study-tools-community-access--limited--weekly-progress-summary-support-access_564-739">
      Access to Sample Courses Basic Study Tools Community Access (Limited)
      Weekly Progress Summary Support Access
    </span>
    <div class="frame-94_564-740">
      <span class="text---10-_564-741"> -10%</span>
    </div>
    <div class="frame-93_564-742">
      <span class="text-save-10--_564-743">save 10 $</span>
    </div>
  </div>

  <div class="frame-95_564-744">
    <span class="text-standard-plan-member_564-746">Standard Plan Member</span>
    <span class="text-40-0---month-billed-annually-you_564-747">
      $40.0 / month Billed annually you
    </span>
    <div class="frame-95_564-748">
      <button (click)="redirectToPayments()" class="text-select-standard_564-749">
        Select Standard
      </button>
    </div>
    <span
      class="text-all-basic-features-30--discount-on-uni-courses-30--discount-for-products-full-access-to-course-library-self-assessment-community-access--limited--support-access_564-750">
      All Basic features 30% discount on Uni Courses 30% discount for products
      Full Access to Course Library Self-Assessment Community Access (Limited)
      Support Access
    </span>
    <div class="frame-94_564-751">
      <span class="text---15-_564-752"> -15%</span>
    </div>
    <div class="frame-93_564-753">
      <span class="text-save-20--_564-754">save 20 $</span>
    </div>
  </div>

  <div class="frame-74_564-755">
    <span class="text-premium-plan-member_564-757">Premium Plan Member</span>
    <span class="text-50-0---month-billed-annually-you_564-758">
      $50.0 / month Billed annually you
    </span>
    <div class="frame-95_564-759">
      <button (click)="redirectToPayments()" class="text-select-premium_564-760">
        Select Premium
      </button>
    </div>
    <span
      class="text-all-basic-features-45--discount-on-uni-courses-45--discount-for-products-full-access-to-core-course-personal-assistance-advanced-study-tools-interactive-quizzes-personalized-feedback_564-761">
      All Basic features 45% discount on Uni Courses 45% discount for products
      Full Access to Core Course Personal assistance Advanced Study Tools
      Interactive Quizzes Personalized Feedback
    </span>
    <div class="frame-94_564-762">
      <span class="text---25-_564-763"> -25%</span>
    </div>
    <div class="frame-93_564-764">
      <span class="text-save-35--_564-765">save 35 $</span>
    </div>
  </div>

